<div class="container-fluid">
    <form [formGroup]="deleteProductForm" (ngSubmit)="deleteProductDetails()">

        <div class="form-group">
            <!--<label for="my-input">Enter product id to delete</label>
            <input id="my-input" class="form-control" type="number" formControlName="searchId">-->
            <input type="submit" value="delete">
            </div>

        
    </form>

<div>
    <p>{{message}}</p>
</div>
</div>


