<div class="container-fluid">
    <form  [formGroup]="searchForm" (ngSubmit)="searchProductById()">
        <div class="form-group">
            <label for="my-input">Enter product id to search</label>
            <input id="my-input" class="form-control" type="number" formControlName="searchId">
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Search Product">
        </div>
    </form>
</div>
<div class="container text-container" *ngIf="!flag"
 [style.display]='display'>
    <p>Product not found</p>
</div>
<div class="container" [style.display]="display">
    <div *ngIf="flag">
        <table class="table table-light">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td><i class="fas fa-edit me-3" routerLink="/update-product/{{product.id}}"></i></td>
                </tr>
            </tbody>
        </table>
</div>

