
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../favicon.ico" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link " aria-current="page" routerLink="/add-product">Add Product</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/list-product">List Product</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/search-product">Search Product</a>
              </li>
          </ul>

      </div>
  </div>
</nav>

<router-outlet>
</router-outlet>