<div class="container-fluid">
    <!-- Reactive Form -->
    <h1 class="display-4">Add Product</h1>
    <form [formGroup]="addProductForm" (ngSubmit)="addProductDetails()">

        <div class="form-group">
            <label for="my-input">Product Name</label>
            <input id="my-input" class="form-control" type="text" formControlName="name">
        </div>

        <div class="form-group">
            <label for="my-input">Price</label>
            <input id="my-input" class="form-control" type="text" formControlName="price">
        </div>

        <div class="form-group">
            <label for="my-input">Quantity</label>
            <input id="my-input" class="form-control" type="text" formControlName="quantity">
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Add Product">
        </div>
    </form>
    <div>
        <p>{{message}}</p>
    </div>
</div>